# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# -----------------------------
# Virtual Environments
# -----------------------------
venv/
.venv/
env/

# -----------------------------
# Log Files
# -----------------------------
*.log

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db